@model IEnumerable<TrialLovesProject.Models.StorePrice>

@{
    ViewBag.Title = "PriceHistory";
}

<h2>Price History</h2>

@*<p>
    @Html.ActionLink("Create New", "Create")
</p>*@
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Store.StoreId)
        </th>
        <th>
            Grade
        </th>

        <th>
            @Html.DisplayNameFor(model => model.PreviousPrice)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.NewPrice)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PriceDifference)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TimeStamp)
        </th>


        <th></th>
    </tr>

@foreach (var item in Model) {
<tr>
    <td>
        @Html.DisplayFor(modelItem => item.Store.StoreId)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.Grade1.Name)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.PreviousPrice)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.NewPrice)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.PriceDifference)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.TimeStamp)
    </td>



</tr>
}


    

</table>
<div style="padding-left: 45%; ">
    <button style="background-color:red" id="Export" type="button">Export to CSV</button>

</div>