@model TrialLovesProject.Models.StorePrice

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>StorePrice</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.PreviousPrice)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PreviousPrice)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NewPrice)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NewPrice)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PriceDifference)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PriceDifference)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TimeStamp)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TimeStamp)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Grade1.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Grade1.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Store.StoreId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Store.StoreId)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
