@model IEnumerable<TrialLovesProject.Models.StorePrice>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Store.StoreId)
        </th>
        <th>
            Grade
        </th>

        <th>
            @Html.DisplayNameFor(model => model.PreviousPrice)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.NewPrice)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PriceDifference)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TimeStamp)
        </th>



    </tr>

    @foreach (var item in Model)
    {

        <tr>
            @*if storeid=storenumber or storeid=all*@
            <td>
                @item.Store.StoreId
            </td>
            <td>
                Unleaded
            </td>
            <td>
                @item.PreviousPrice
            </td>
            <td>
                @item.NewPrice
            </td>
            <td>
                @item.PriceDifference
            </td>
            <td>
                @item.TimeStamp
            </td>
            <td>@item.Grade1.GradeId</td>
        </tr>

        <tr>

            <td>
                @item.Store.StoreId
            </td>
            <td>
                Plus
            </td>
            <td>
                @(item.PreviousPrice + item.Store.Threshold)
            </td>
            <td>
                @(item.NewPrice + item.Store.Threshold)
            </td>
            <td>
                @item.PriceDifference
            </td>
            <td>
                @item.TimeStamp
            </td>
            <td>@item.Grade1.GradeId</td>
        </tr>

        <tr>
            @*if storeid=storenumber or storeid=all*@
            <td>
                @item.Store.StoreId
            </td>
            <td>
                Super
            </td>
            <td>
                @(item.PreviousPrice + item.Store.Threshold + item.Store.Threshold)
            </td>
            <td>
                @(item.NewPrice + item.Store.Threshold + item.Store.Threshold)
            </td>
            <td>
                @item.PriceDifference @*is this supposed to be threshold or old v new*@
            </td>
            <td>
                @item.TimeStamp
            </td>
            <td>@item.Grade1.GradeId</td>
        </tr>
    }
